<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

#Exercise 2: Create markdown cell with title of the notebook
# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

#Exercise 3: Create a markdown cell for an introduction
#### This notebook summarizes the Data Science tools and ecosystem

#### This notebook summarizes the Data Science tools and ecosystem

Exercise 10 - Insert a markdown cell to list Objectives
**Objectives:**
* List of Data Science Languages
* Libraries used in various Data Science Languages
* Tools used in Data Science
* Environments used by Data Scientists
* Working with few Data Science tools

**Objectives:**
* List of Data Science Languages
* Libraries used in various Data Science Languages
* Tools used in Data Science
* Environments used by Data Scientists
* Working with few Data Science tools

Exercise 4 - Create a markdown cell to list data science languages
Some of the languages that Data Scientists commonly use are:
    1. Python
    2. R
    3. SQL
    4. Julia

Some of the languages that Data Scientists commonly use are:
    1. Python
    2. R
    3. SQL
    4. Julia

Exercise 5 - Create a markdown cell to list data science libraries
Some of the commonly used data science libraries are listed under:
    1. Plotly
    2. Pandas
    3. NumPy
    4. ggplot

Some of the commonly used data science libraries are listed under:
    1. Plotly
    2. Pandas
    3. NumPy
    4. ggplot

Exercise 6 - Create a markdown cell with a table of Data Science tools
| Data Science Tools |
|----|
| Jupyter Lab |
| R Studio |
| Spyder |

| Data Science Tools |
|----|
| Jupyter Lab |
| R Studio |
| Spyder |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples
### Below are few examples of evaluating arithmetic expressions in Python

### Below are few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In [4]:
#this is a simple arithmetic expression to multiply and then add integers
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [5]:
#the following expression converts 200 minutes into hours by dividing by 60
200/60

3.3333333333333335

Exercise 11 - Create a markdown cell to indicate the Author's name
## Author
Akanksha

## Author
Akanksha